Package: com.level3tjg.redditolddiscovery
Name: RedditOldDiscovery
Version: 0.0.3
Architecture: iphoneos-arm
Description: Disable the new Reddit discovery tab
Depiction: https://level3tjg.me/repo/depictions/?p=com.level3tjg.redditolddiscovery
Maintainer: level3tjg
Author: level3tjg
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
